<div class="row">
  <div class="col">
    <button
      type="button"
      class="btn btn-primary btn-lg"
      (click)="getOilPrice()"
    >
      ดึงราคาน้ำมัน
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ชนิดน้ำมัน</th>
          <th scope="col">ราคา</th>
          <th scope="col">วัน เวลา</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oil of oilPriceData.data.priceData">
          <td>{{ oil.nameTh }}</td>
          <td>{{ oil.price }}</td>
          <td>{{ oil.priceDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
